---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts.js';
import SubredditProject from '../components/Project2/SubredditProject.jsx';




---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

		<ViewTransitions />
		
		
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			
				<SubredditProject client:load/>
			
		</main>
		<Footer />
	</body>
</html>



